body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #ffffff;
    background-color: #16161a;
}

header {
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 3; /*z-index=重なり順 数字が大きいほど前に来る*/
}
header .container {
    max-width: 1080px; /*最大横幅*/
    width: 90%; 
    margin: 0 auto; /*中央にする*/
}
header .row{
    display: flex; /*横並びにする*/
    justify-content: space-between; /*両端に寄せる*/
    align-items: center; /*上下中央配置*/
    height: 60px; /*ヘッダーの高さ*/
}
header .logo{
    font-size: 24px; 
}
header ul{
    display: flex;
}
header ul li{
    margin-left: 30px; /*ul中のliに左スペース配置*/
    font-size: 14px;
    letter-spacing: 1px; /*文字と文字の隙間 → A b o u t*/
}

.section1 {
    background-image: url(https://gohan-desu.github.io/icpcyuhifes.github.io/images/israel-andrade-YI_9SivVt_s-unsplash.jpg);
    background-position:center bottom;
    background-size: cover;
    height: 100vh; /*vh=画面幅　縦の画面幅いっぱいに設定*/
    display: flex; /*横並びにしてからじゃないとalign-itemが適用されない*/
    align-items: center;
}

.section1 .filter{ /*画像に黒い透かしを入れる*/
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5; /*半透明にする*/
    position: absolute; /*重ねる*/
    top: 0;
    left: 0; /*左を初めとして縦横１００％*/
    z-index: 1;
}

.section1 .container{
    width: 90%;
    max-width: 1080px; /*maxの横幅*/
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative; /*文字を手前に来させる*/
}

.section1 .heading{
    font-size: 16px;
    font-weight: 700; /*太さ*/
    margin-bottom: 40px; /*下の余白*/
    color: #2cb67d;
}

.section1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.section1 .text{
    font-size: 20px;
    margin-bottom: 40px;
}

.section1 a {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 40px 20px 40px; /*上　右　下　左 (右左が同じな時は左を省略してもよい）*/
    display: inline-block;
    background-color: #7f5af0;
    border-radius: 6px; /*角を丸める*/
    letter-spacing: 2px; /*文字間隔*/
    transition-duration: .2s; /*hoverをゆっくり変化させる*/
}

.section1 a:hover{ /*カーソルを当てたときの効果*/
    background-color: #2cb67d;
}



.section2{
    margin-bottom: 45px;
}

.section2 .container{
    max-width: 1080px;
    width: 90%;
    margin: auto; /*中央寄せ*/
}

.section2 .row{
    display: flex; /*横並びにする*/
    justify-content: space-between; /*左右均等*/
    flex-wrap: wrap; /*横に収まりきらないときは縦並び*/
    transform: translateY(-48px); /*section2の開始位置より48px上にはみ出す*/
    z-index: 2; /*z-indexはポジションがないと効かない*/
    position: relative;
}

.section2 .col{
    background-color: #ffffff;
    width: 32%; /*横幅*/
    color: #16161a;
    padding: 20px; /*上下に余白*/

}
.section2 img{
    background-color: #7f5af0;
    width: 60px;
    padding: 10px; /*アイコンと背景の間に余白*/
    border-radius: 9px;
    margin-bottom: 16px;
}
.section2 h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}
.section2 hr{
    border: solid 2px #2cb67d;
    margin-bottom: 16px;
    width: 48px; /*棒を短くする*/
}
.section2 .text{
    font-size: 15px;
    line-height: 1.5; /*行間を1.5*/
}


.section3{
    padding-top: 45px; /*上に余白*/
    margin-bottom: 60px; /*下に余白*/
}

.section3 .container{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto; /*中央寄せ*/
}

.section3 .row{
    display: flex; /*横並び*/
    justify-content: space-between; /*両端寄せ*/
    flex-wrap: wrap;
    align-items: center; /*上下中央による*/
    margin-bottom: 60px;
}
.section3 .col{
    width: 46%; /*横並び　左４６％　真ん中８％　右４６％*/
}

.section3 h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.3; /*行間*/
}

.section3 hr{
    border: solid 2px #2cb67d;
    margin-bottom: 20px;
    width: 60px; /*横幅*/
}

.section3 .text{
    line-height: 1.5; /*行間*/
}

.section4{
    padding-top: 60px;
    margin-bottom: 60px;
}
.section4 .container{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.section4 .h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.section4 .hr{
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 60px;
}

.section .ul{
    max-width: 700px;
    margin: 0 auto;
}

.section .li{
    border: solid 1px #ffffff;
    margin-bottom: 20px;
    padding: 16px 24px;
}

.section4 .date{
    color: #7f5af0;
    font-weight: 500;
    letter-spacing: 1px; /*文字幅*/
    margin-bottom: 6px;
}

.section5{
    padding-top: 60px;
    margin-bottom: 130px;
}
.section5 .container{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.section5 .h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.section5 hr{
    border: solid 2px #2cb67d;
    margin: 0 auto 4opx;
    width: 60px;
}

.section5 form{
    max-width: 540px;
    margin: 0 auto;
}

.section5 label{
    display: block; /*横方向１００％*/
    margin-bottom: 16px;
    font-weight: 500;
}

.section5 input, .section5 textarea{
    background-color: #ffffff;
    display: block;
    width: 100%; /*input=display:blockに加えてwidthで横幅100%*/
    padding: 13px 16px; /*上下に13px 左右に16pxの余白*/
    margin-bottom: 300px;
    color: #16161a;
}

.section5 input[type=submit] {
    text-align: center;
    background-color: #7f5af0;
    color: #ffffff;
    font-weight: 700;
    padding: 20px 16px 22px;
    letter-spacing: 6px;
    border-radius: 6px;
    transition-duration: .2s;
}

.section5 input[type=submit]:hover{
    background-color: #2cb67d;
}